@page "/api-resources/{ApiResourceId:int}"
@inject ConfigurationDbContext DbContext;

@if (SelectedApiResource == null)
{
    <p class="placeholder-glow">
        <span class="placeholder col-12"></span>
    </p>
}
else
{
    <div class="row">
        <div class="col-6">
            <TextField Entity="@SelectedApiResource" Property="a => a.Name" DisplayName="Name" />
            <TextField Entity="@SelectedApiResource" Property="a => a.DisplayName" DisplayName="Display Name" />
            <TextAreaField Entity="@SelectedApiResource" Property="c => c.Description" DisplayName="Description" />
            <TextField Entity="@SelectedApiResource" Property="a => a.AllowedAccessTokenSigningAlgorithms" DisplayName="Allowed Access Token Signature Algorithms" />
        </div>
        <div class="col-4">
            <SwitchField Entity="@SelectedApiResource" Property="a => a.Enabled" DisplayName="Enabled" />
            <SwitchField Entity="@SelectedApiResource" Property="a => a.ShowInDiscoveryDocument" DisplayName="Show in Discovery document" />
            <SwitchField Entity="@SelectedApiResource" Property="a => a.RequireResourceIndicator" DisplayName="Require resource indicator" />
            <SwitchField Entity="@SelectedApiResource" Property="a => a.NonEditable" DisplayName="Non-editable" />
            <div class="mb-3">
                <label class="form-label">Secrets</label>
                <QuickGrid Items="@SelectedApiResource.Secrets.AsQueryable()" Class="table table-hover table-striped">
                    <PropertyColumn Property="@(s => s.Description)" />
                    <PropertyColumn Property="@(s => s.Type)" />
                    <PropertyColumn Property="@(s => s.Created)" />
                    <PropertyColumn Property="@(s => s.Expiration)" />
                </QuickGrid>
            </div>
            <div class="mb-3">
                <label class="form-label">Properties</label>
                <QuickGrid Items="@SelectedApiResource.Properties.AsQueryable()" Class="table table-hover table-striped">
                    <PropertyColumn Property="@(s => s.Key)" />
                    <PropertyColumn Property="@(s => s.Value)" />
                </QuickGrid>
            </div>
        </div>
    </div>
}

@code {
    [Parameter]
    public int ApiResourceId { get; set; }

    public ApiResource? SelectedApiResource { get; private set; }

    protected async override Task OnParametersSetAsync()
    {
        SelectedApiResource = await DbContext.ApiResources.Include(a => a.Secrets)
                                                          .Include(a => a.Properties)
                                                          .FirstOrDefaultAsync(a => a.Id == ApiResourceId);
    }
}

